*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: aliceblue;
    height: 50px;
}

header h2{
    font-size: 2.5em;
    pointer-events: none;
    font-weight: 800;
}

header a{
    color: #359381;
    font-size: 20px;
    text-decoration: none;
    /* background: aquamarine; */
    /* border: 2px solid aquamarine; */
    border-radius: 20px;
    margin: 15px;
    padding: 5px;
}
header a:hover,
header a.active{
    color: aliceblue;
    background: #359381;

}

footer{
    top: 100%;
    position: sticky;
    width: 100%;
    bottom: 0;
    background: aliceblue;
    
}
.element p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #359381;
    margin-top: 40px;
    margin-bottom: 15px;

}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.input input{
    width: 100%;
    border: 2px solid #359381;
    background: aliceblue;
    padding: 5px;
    width: 300px;
    margin-bottom: 8px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subscribe input{
    width: 170px;
    background: aliceblue;
    border: 1px solid #359381;
    color: #359381;
    border-radius: 8px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 15px;

}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;



}

.icon a {
    display: flex;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #359381, aquamarine);
    border-radius: 50px;
    color: aliceblue;
    font-size: 1.6em;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

body{
    min-height: 100vh;
    
}

.image-1{
    display: inline;

} 
.banner img{
    width: 100%;


}
.text-1{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 100px;
    color: black;
}
.images-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 300;
    margin-bottom: 50px;
}