* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: aliceblue;
    height: 50px;
    z-index: 5;
}

header h2 {
    font-size: 2.5em;
    pointer-events: none;
    font-weight: 800;
}

header a {
    color: #359381;
    font-size: 20px;
    text-decoration: none;
    /* background: aquamarine; */
    /* border: 2px solid aquamarine; */
    border-radius: 20px;
    margin: 15px;
    padding: 5px;
}

header a:hover,
header a.active {
    color: aliceblue;
    background: #359381;

}

footer {
    top: 100%;
    position: sticky;
    width: 100%;
    bottom: 0;
    background: aliceblue;

}

.element p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #359381;
    margin-top: 40px;
    margin-bottom: 15px;

}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.input input {
    width: 100%;
    border: 2px solid #359381;
    background: aliceblue;
    padding: 5px;
    width: 300px;
    margin-bottom: 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subscribe input {
    width: 170px;
    background: aliceblue;
    border: 1px solid #359381;
    color: #359381;
    border-radius: 8px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 15px;

}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;



}

.icon a {
    display: flex;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #359381, aquamarine);
    border-radius: 50px;
    color: aliceblue;
    font-size: 1.6em;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

body {
    min-height: 100vh;
    background: #E9FAF9;

}

.image-1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;


}
.image-1 img{

    transition: .5s ease; 
       
}
.image-1 img:hover{
    opacity: 0.6;
}
.banner img {
    width: 100%;


}
.images-2 img {

    transition: 0.5s ease;
}
.images-2 img:hover {
    opacity: 0.6;

}

.text-1 {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 100px;
    color: black;
}

.image-4 {

    flex-basis: 25%;
    padding: 10px;
    min-width: 250px;
    margin: bottom 50px;;
    transition: .5s ease;
}

.image-4:hover{
    margin-top: -15px;
    margin-bottom: -15px;
    opacity: 0.7;
    color: #359381;

}

.image-4 img {
    width: 300px;
    border-radius: 20px;

}


.image-4 h4,
p {
    margin-left: 55px;


}

.row {
    display: flex;
    flex-wrap: wrap;
}


@media only screen and (max-width:390px){
    .display{
        display: none;
    }
    .banner img{
        margin-top: 100px;
        width: 900px;
    }
    .img-1{
        width: 454px;
    }
    .img-2{
        height: 400px;
    }
    .img-3{
        width: 454px;
    }
    .img-4{
        height: 400px;
    }
    .image-1 {
        margin-left: 200px;
    }
    .images-2{
        margin-left: 200px;
    }
    .heading h2{
        width: 100%;
        margin-left: 240px;
        color: #359381;
    }
    .row {
        width: 100%;
        margin-left: 280px;
    }
    footer{
        margin-left: 210px;
    }

}

@media only screen and (min-width:391px) and (max-width:767px){
    .banner img{
        margin-top: 100px;
        width: 900px;
    }
    .img-1{
        width: 454px;
    }
    .img-2{
        height: 400px;
    }
    .img-3{
        width: 454px;
    }
    .img-4{
        height: 400px;
    }
    .image-1 {
        margin-left: 200px;
    }
    .images-2{
        margin-left: 200px;
    }
    .heading h2{
        width: 100%;
        margin-left: 240px;
        color: #359381;
    }
    .row {
        width: 100%;
        margin-left: 280px;
    }
    footer{
        margin-left: 210px;
    }

}

@media only screen and (min-width:768px) and (max-width:991px){
    .banner img{
        margin-top: 100px;
        width: 900px;
    }
    .img-1{
        width: 454px;
    }
    .img-2{
        height: 400px;
    }
    .img-3{
        width: 454px;
    }
    .img-4{
        height: 400px;
    }
    .image-1 {
        margin-left: 200px;
    }
    .images-2{
        margin-left: 200px;
    }
    .row{
        padding: 10%;
        margin-left: 200px;
    }
    .image-4 img{
        margin-right: -200px;
        width: 100%;
    }
}

@media only screen and (min-width:992px) and (max-width:1055px){
    .img-1{
        width: 500px;
        height: 400px;
    }
    .img-2{
        height: 400px;
    }
    .img-3{
        width: 500px;
        height: 400px;
    }
    .img-4{
        height: 400px;
    }
    .image-1 img{
        margin-right: 5px;
    }
    .images-2 img{
        margin-left: 5px;
    }
    .row{
        padding: 10%;
    }
    .image-4 img{
        margin-right: -200px;
        width: 100%;
    }
}

@media only screen and (min-width:992px) and (max-width:1055px){
}
