*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: aliceblue;
    height: 50px;
}

header h2{
    font-size: 2.5em;
    pointer-events: none;
    font-weight: 800;
}

header a{
    color: #359381;
    font-size: 20px;
    text-decoration: none;
    /* background: aquamarine; */
    /* border: 2px solid aquamarine; */
    border-radius: 20px;
    margin: 15px;
    padding: 5px;
}
header a:hover,
header a.active{
    color: aliceblue;
    background: #359381;

}

footer{
    top: 100%;
    position: sticky;
    width: 100%;
    bottom: 0;
    margin-top: 100px;
    background: aliceblue;
    
}
.element p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #359381;
    margin-top: 40px;
    margin-bottom: 15px;

}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.input input{
    width: 100%;
    border: 2px solid #359381;
    background: aliceblue;
    padding: 5px;
    width: 300px;
    margin-bottom: 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;

}

.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subscribe input{
    width: 170px;
    background: aliceblue;
    border: 1px solid #359381;
    color: #359381;
    border-radius: 8px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 15px;

}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;



}

.icon a {
    display: flex;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #359381, aquamarine);
    border-radius: 50px;
    color: aliceblue;
    font-size: 1.6em;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

body{
    min-height: 100vh;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #B9BECA;
    
}
.large-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 540px;
    background: aliceblue;
    border: 2px solid #359381, aquamarine;
    box-shadow: 0 0 35px #359381;
    overflow: hidden;
    border-radius: 30px;
}


.box-container{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
}

.large-container h2{
    /* margin-left: 100px; */
    padding-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    padding-bottom: 12px;
    margin-top: -30px;

}

.name input{
    height: 40px;
    width: 250px;
    /* display: flex; */
    font-size: 15px;
    font-weight: 600;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    
}

.em{
    padding-bottom: 20px;
    margin-bottom: 0px;
}
.em input{
    width: 250px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;


}



.btn input{
    background: linear-gradient( #359381, aquamarine);
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: #359381;
    box-shadow: 0 0 15px #359381;
    cursor: pointer;

}

.comment textarea{
    width: 500px;
    font-size: 16px;
    outline: none;

}

